.container{
  max-width: 140rem;
  /* remove */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
  grid-template-rows: min-content;
  gap:2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("theme.jpg");

  background-size: cover;

/* height: 90rem !important; */

  }
  .item1{
    display: grid;
  }
  .sizes{
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-self: flex-end;
    /* margin-left: 1.5rem; */
  }
  
  .prices{
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-self: flex-start;
    /* margin-left: 4rem; */
  
  }
  
  
  
  .meal-header{
    display: flex;
  align-items: center;
  justify-content:space-between;
  }
  .burger-category{
    text-align: center;
  }
  
  .meal-item{
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .meal{
    width: 20rem;
  }
  .meal-name{
  
  }
  .meal-description{
  font-size: 1.6rem;
  }
  .sizes > *{
    /* margin-left: 4rem; */
  }
  
  .size:first-child{
    /* text-align: start; */
  }
  
  .size{
    color: #fef200;
    width:3ch;
    text-align: center;
  }
  .regular{
    width: 11ch;
    text-align: center;
  }
  
  .price:last-child{
    transform: translateX(8px);
  }
  .sizes > *:not(:last-child){
    transform: translateX(8px);
  }

.logo{
  width: 80%;
}

.item2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item5{
  display: flex;
  flex-direction: column;
}

.wings-grid{
  display: grid;
  grid-template-columns:2fr repeat(2,1fr);
  flex:1.5;
  padding: 1.4rem;
}
.wings-price{
  text-align: center;
}

.wings-header{
  text-align: center;
  background-color: #fef200;
  color: black;
}

.shrimp-container{
  background-color: #fef200;
  padding: 1rem;
  flex:1;
  color: black;
  width: 90%;
  margin: 0 auto;
}

.shrimp-header{
  text-align: center;
}

.shrimp-items{
  font-size: 2.2rem;
  font-weight: 800;
}

.shrimp-items p:last-child{
  transform: translateX(-3px);
}